path:
  input_data_path: "data/raw/"
  output_data_root: "data/processed/"
  interim_data_root: "data/interim/"
  models_root: "models"
  logs_root: "logs"

dataset:
  train_start_date: "2023-02-09"
  train_end_date: "2023-06-30"
  eval_start_date: "2023-07-01"
  eval_end_date: "2023-08-03"
  test_start_date: "2023-12-01"
  test_end_date: "2023-12-01"

features:

feature_definitions:

model:
  name: "Linear"
  version: 1
  epoch: 50
  early_stopping_patience: 10
