path:
  input_data_path: "data/raw/"
  output_data_root: "data/processed/"
  interim_data_root: "data/interim/"
  models_root: "models"
  logs_root: "logs"

dataset:
  train_start_date: "2023-02-09"
  train_end_date: "2023-06-30"
  eval_start_date: "2023-07-01"
  eval_end_date: "2023-08-03"
  test_start_date: "2023-12-01"
  test_end_date: "2023-12-01"

# How many point in time to use
# ex: "0" or "0,3" or "0,7,30,90"
historical_data_points: "0"

features:
  "base_features": ["user_id", "cohort"]
  "extra_features": ["user_id", "cohort"]
  "time_series_features": ["user_id"]

feature_definitions:
  base_features:
    - "base_features"
  extra_features:
    - "extra_features"
  time_series_features:
    - "iap_count"
    - "iap_coins_rev"
    - "iap_coins_count"
    - "iap_ads_rev"
    - "iap_ads_count"
    - "ad_count"
    - "session_count"
    - "game_count"
    - "current_level"
    - "session_length"
    - "coins_spend_sum"
    - "booster_used_count"
    - "rv_shown_count"

model:
  name: "Linear"
  version: 1
  epoch: 50
  early_stopping_patience: 10
